// bower:scss
// endbower
body {
  background-color: #f9f9f9;
  color: #000000;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}